# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.sln.docstates

# VS Code
.vscode/
*.code-workspace

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/

# NuGet
*.nupkg
*.snupkg
.nuget/

# Files built by Visual Studio
*.obj
*.exe
*.pdb
*.dll

# OS files
.DS_Store
Thumbs.db
